<div id="forecastDetails">
  <% if @weather.cached? %>
    <div class="badge">cached</div>
  <% end %>
  <h2><strong><%= @weather.city %></strong></h2>
  <p id="currentTemp"><%= @weather.temperature %>°</p>
  <p id="weatherConditions"><%= @weather.conditions %></p>
  <p><strong>H:</strong> <span id="highTemp"><%= @weather.high %>°</span> <strong>L:</strong> <span id="lowTemp"><%= @weather.low %>°</span></p>
  <p id="wind"><i class="material-symbols-outlined"><%= @weather.wind_direction_icon %></i> <%= @weather.wind_speed %> mph</p>
  <p id="humidity">💧 <%= @weather.humidity %>%</p>
  <p id="pressure"><%= @weather.pressure %> hPa</p>
</div>
